
.form{
    width: 550px;
    margin: 150px auto;
    height: 450px;
    background-color: lightpink;
    border: 3px solid black;
}

form{
    margin: 10px;
    padding: 5px;
}


form input[type=radio]{  
  margin-left: -1em;
    margin-bottom: 10px;
}


form label{
   width: 100px;
   display: inline-block;
   text-align: right;
}

    font-weight: bold;
    margin-right: 40px;
}
 
p{
    margin-bottom: 20px;
}

h3{
    margin: 5px;
    padding: 3px;
    background: linear-gradient(to right, green, red, darkblue);
    -webkit-background-clip: text;
    color: transparent;
    
    font-size: 3rem;
}

body
{
    margin: 0;
    padding: 0;
    background-image:url(langit1.jpg); 
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
    
   
}

form button{
    float: right;
    background-color: red;
    color: white;
    height: 30px;
    width: 70px;

}

button:hover{
    background-color: blue;
}




 



